@import "reset";
@import "colors";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

html {
  background: transparent;
}

html,
body {
  color: $white;
  width: 100%;
  height: 100%;
}

body {
  // font-family: 'Courier New', Courier, monospace;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'IM Fell English', serif;
  -webkit-overflow-scrolling: touch;
  background-image: url("https://closet.moonshotdesignco.com/cm/bg/bg2022-a.jpg");
  background-size: cover;
  background-position: center 30%;
  background-attachment: fixed;
}

#core {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
}

#bgdiv {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center 33%;
  // background-size: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://closet.moonshotdesignco.com/cm/bg/bg2022-a.jpg");
  // animation: colorwheel 2s linear infinite;
  // @media (min-width: 700px) {
  //   background-size: 400px;
  // }
  // @media (min-width: 1000px) {
  //   background-size: 600px;
  // }
  // @media (min-width: 1400px) {
  //   background-size: 800px;
  // }
  // @media (min-width: 2000px) {
  //   background-size: 50%;
  // }
}

@keyframes colorwheel {
  0% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(1turn);
  }
}

a {
  color: inherit;
  filter: drop-shadow(2px 2px 1px $red);
  transition: filter 200ms linear;
}

a:hover,
a:focus,
a:active {
  // color: $redhover;
  filter: drop-shadow(-2px 2px 1px $red) hue-rotate(315deg);
}

.bgblack {
  background: $black;
}

.bgwhite {
  background: $white;
}

.bgred {
  background: $red;
}

.bghoverwhite:hover {
  background: $white;
}

.bghoverblack:hover {
  background: $black;
}

.p50 {
  padding: 0.5rem;
}

.m50 {
  margin: 0.5rem;
}

.m20p {
  margin: 20px;
}

.ml0 {
  margin-left: 0px;
}

.mb20p {
  margin-bottom: 20px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.h40p {
  height: 40px;
}

.op50 {
  filter: opacity(.5);
}

.pfixed {
  position: fixed;
}

.prelative {
  position: relative;
}

.pabsolute {
  position: absolute;
}

.pbottomright {
  bottom: 0px;
  right: 0px;
}

.ptopright {
  top: 20px;
  right: 0px;
}

.pbottomleft {
  bottom: 0px;
  left: 0px;
}

.dflex {
  display: flex;
}

.dflexcol {
  flex-direction: column;
}

.dgrid {
  display: grid;
}

.pcentered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dflexcentered {
  justify-content: space-evenly;
  align-items: center;
}

.tcentered {
  text-align: center;
}

.tright {
  text-align: right;
}

.dflexspacebetween {
  justify-content: space-between;
}

.z10 {
  z-index: 10;
}

.z5 {
  z-index: 5;
}

.z0 {
  z-index: -1;
}

.big {
  font-size: 3rem;
}

.small {
  font-size: 0.75rem;
}

.dblock {
  display: block;
}

.dinblock {
  display: inline-block;
}

.dinline {
  display: inline;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.logoblock {
  padding-left: 20px;
  padding-top: 20px;
  // filter: drop-shadow(2px 2px 1px $red);
}

.logo {
  width: 100%;
  padding-right: 20px;
  @media (min-width: 700px) {
    width: unset;
    max-width: 100%;
    height: 100px;
    padding-right: 60px;
    padding-bottom: 20px;
  }
}

.inv {
  filter: invert(1);
}

.photolist {
  img {
    width: 100%;
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
}

.videolist {
  iframe {
    width: 100%;
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
}

.copyrightblock {
  padding-bottom: 40px;
  text-transform: lowercase;
  // font-family: 'Courier New', Courier, monospace;
  // color: $white;
}